html {
    touch-action: manipulation;
    outline: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: "Quicksand", sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    outline: 0;
    padding: 0;
    margin: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-color: white;
    font-family: "Quicksand", sans-serif;
    background-color: lightgray;
}

p {
    margin: 0px;
}

div.gift-box-popup {
    display: grid;
    grid-template-columns: auto;
    width: 300px;
    border: 1px solid black;
    border-radius: 8px;
    align-self: center;
    justify-self: center;
    padding-top: 32px;
    padding-bottom: 32px;
}

div.gift-box-item {
    display: grid;
    grid-template-columns: auto 1fr;
    width: 90%;
    justify-self: center;
    border: 1px solid black;
    border-radius: 8px;
    cursor: pointer;
}

div.gift-box-item-icon {
    width: 64px;
    height: 64px;
    border-radius: 4px;
    background-color: cornsilk;
    font-size: 10px;
    text-align: center;
    display: grid;
    align-items: center;
    justify-items: center;
}

div.gift-box-item-text {
    align-self: center;
    font-size: 16px;
    padding-left: 16px;
    font-weight: 700;
    color: blue;
}

.gift-box-item-text.opened {
    font-weight: 400;
    color: black;
}

div.ui-standard-home-detail {
    position: absolute;
    top: 16px;
    left: 8px;
    font-size: 14px;
    width: 260px;
}

.underline {
    text-decoration: underline;
}

div.ui-standard-home-detail-name {
    word-wrap: break-word;
    cursor: pointer;
}

div.ui-standard-home-detail-address {
    margin-top: 8px;
}

div.ui-standard-home-like-grid {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 40px;
    display: grid;
    grid-template-columns: 1fr;
}

div.ui-standard-home-like-icon {
    width: 32px;
    height: 32px;
    justify-self: end;
    background-image: url(favourite.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

div.ui-standard-home-like-amount {
    font-weight: 700;
    margin-top: 4px;
    justify-self: end;
    font-size: 12px;
    color: red;
}

div.ui-standard-home-value-grid {
    position: absolute;
    top: 75px;
    right: 16px;
    width: 40px;
    display: grid;
    grid-template-columns: 1fr;
}

div.ui-standard-home-value-icon {
    width: 32px;
    height: 32px;
    justify-self: end;
    background-image: url(wealth.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

div.ui-standard-home-value-amount {
    font-weight: 700;
    margin-top: 4px;
    justify-self: end;
    font-size: 12px;
    color: goldenrod;
}

div.ui-standard-home-zoom {
    position: absolute;
    left: 16px;
    bottom: 16px;
    width: 32px;
    height: 32px;
    background-image: url(zoom_in.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 12px;
    font-weight: bold;
    display: grid;
    align-content: center;
    text-align: center;
    cursor: pointer;
}

div.ui-standard-home-member {
    position: absolute;
    left: 16px;
    bottom: 80px;
    width: 48px;
    height: 48px;
    background-color: burlywood;
    font-size: 12px;
    font-weight: bold;
    display: grid;
    align-content: center;
    text-align: center;
    cursor: pointer;
}

div.ui-standard-home-buy {
    position: absolute;
    width: 64px;
    height: 64px;
    background-color: salmon;
    font-size: 20px;
    font-weight: 700;
    line-height: 64px;
    text-align: center;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

div.ui-standard-home-visit {
    position: absolute;
    width: 48px;
    height: 48px;
    line-height: 48px;
    background-color: chartreuse;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    bottom: 80px;
    right: 16px;
    cursor: pointer;
}

div.overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1000!important;
    width: 100%;
    height: 100%;
    background-color: rgba(122, 122, 122, 0.4);
    display: none;
}

div.ui-standard-home-change-name {
    display: none;
    grid-template-columns: 1fr 1fr;
    width: 300px;
    justify-self: center;
    align-self: center;
    grid-row-gap: 16px;
    grid-column-gap: 32px;
    background-color: white;
    border: 1px solid black;
    padding: 16px;
    border-radius: 8px;
}

div.ui-standard-home-change-name-label {
    grid-column: auto / span 2;
    font-size: 14px;
}

input.ui-standard-home-change-name-input {
    width: 280px;
    grid-column: auto / span 2;
}

button.ui-standard-home-change-button {
    width: 100px;
}

div.ui-standard-home-share {
    position: absolute;
    width: 48px;
    height: 48px;
    line-height: 24px;
    background-color: darkblue;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    bottom: 16px;
    right: 16px;
    cursor: pointer;
    color: white;
}

div.ui-standard-home-share-popup {
    display: none;
    justify-self: center;
    align-self: center;
    width: 300px;
    background-color: white;
    border: 1px solid black;
    padding: 16px;
    border-radius: 8px;
    grid-template-columns: auto auto auto;
    grid-row-gap: 8px;
}

div.ui-standard-home-share-popup-image {
    grid-column: auto / span 3;
    width: 100%;
    position: relative;
    height: 180px;
    background-image: url(early.png);
    background-repeat: no-repeat;
    background-size: 95%;
    background-position: center;
    color: white;
    background-color: black;
}

div.ui-standard-home-share-popup-name {
    position: absolute;
    left: 8px;
    top: 8px;
    font-size: 12px;
    width: 70%;
    word-wrap: break-word;
}

div.ui-standard-home-share-popup-address {
    position: absolute;
    left: 8px;
    top: 42px;
    font-size: 12px;
}

div.ui-standard-home-share-popup-logo-acb {
    position: absolute;
    right: 8px;
    bottom: 8px;
    width: 48px;
    height: calc(48px * 238 / 600);
    background-image: url(logo_acb.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

div.ui-standard-home-share-popup-ref {
    position: absolute;
    left: 8px;
    bottom: 8px;
    font-size: 12px;
}

div.ui-standard-home-share-popup-desc {
    position: absolute;
    left: 0px;
    bottom: 0px;
    font-size: 16px;
    height: 180px;
    line-height: 180px;
    text-align: center;
    width: 100%;
}

div.ui-standard-home-share-detail-grid {
    display: grid;
    grid-template-columns: auto;
    position: absolute;
    top: 8px;
    right: 8px;
    justify-items: end;
}

div.ui-standard-home-share-popup-icon {
    width: 16px;
    height: 16px;
    background-color: red;
}

div.ui-standard-home-share-popup-quantity {
    font-size: 12px;
    font-weight: bold;
}

div.ui-standard-home-share-popup-icon-value {
    width: 16px;
    height: 16px;
    background-color: goldenrod;
}

div.ui-standard-home-share-popup-valute-text {
    font-weight: bold;
    font-size: 12px;
}

textarea.ui-standard-home-share-popup-ta {
    grid-column: auto / span 3;
    resize: none;
    width: 100%;
    height: 40px;
    font-size: 12pt;
}

button.ui-standard-home-share-popup-button {
    width: 50px;
}

button.ui-standard-home-share-popup-button-close {
    width: 80px;
    grid-column: auto / span 3;
    justify-self: end;
    align-self: center;
}

div.ui-standard-home-share-popup-show-like {
    grid-column: auto / span 3;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 8px;
}

div.ui-standard-home-visit-popup {
    display: none;
    justify-self: center;
    align-self: center;
    width: 300px;
    height: 600px;
    background-color: white;
    border: 1px solid black;
    padding: 16px;
    border-radius: 8px;
    grid-row-gap: 8px;
    box-sizing: border-box;
    align-content: baseline;
    grid-template-rows: 1fr auto;
}

div.ui-standard-home-visit-popup-category {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 8px;
    grid-column-gap: 8px;
}

div.ui-standard-home-visit-popup-category-item {
    height: 64px;
    background-color: burlywood;
    font-size: 12px;
    display: grid;
    cursor: pointer;
    box-sizing: border-box;
    border: 2px solid;
    border-color: transparent;
    border-radius: 8px;
}

.ui-standard-home-visit-popup-category-item.selected {
    border-color: purple;
}

div.ui-standard-home-visit-popup-category-item>div {
    text-align: center;
    align-self: center;
    padding: 4px;
}

div.ui-standard-home-visit-popup-category-search {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 8px;
    margin-top: 16px;
}

div.ui-standard-home-visit-popup-category-search-result {
    display: grid;
    margin-top: 16px;
    grid-row-gap: 16px;
    overflow: auto;
    display: none;
}

div.ui-standard-home-visit-popup-category-search-result-item {
    display: grid;
    grid-template-columns: 16px 1fr 16px 1fr;
    font-size: 12px;
    border-radius: 4px;
    border: 1px solid black;
    padding: 4px;
    grid-row-gap: 4px;
    grid-column-gap: 8px;
}

.ui-standard-home-visit-popup-category-search-result-item>div {
    align-self: center;
}

div.ui-standard-home-visit-popup-category-search-result-item-home-detail {
    display: grid;
    grid-template-columns: 1fr;
    grid-column: auto / span 4;
    cursor: pointer;
}

div.ui-standard-home-visit-popup-category-search-result-item-value-icon {
    background-color: goldenrod;
    width: 16px;
    height: 16px;
}

div.ui-standard-home-visit-popup-category-search-result-item-value-text {
    color: goldenrod;
    font-size: 14px;
    font-weight: bold;
}

div.ui-standard-home-visit-popup-category-search-result-item-like-icon {
    background-color: none;
    width: 16px;
    height: 16px;
    cursor: pointer;
    border: 1px solid red;
    box-sizing: border-box;
}

.ui-standard-home-visit-popup-category-search-result-item-like-icon.like {
    background-color: red;
}

div.ui-standard-home-visit-popup-category-search-result-item-like-text {
    color: red;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}

div.ui-standard-home-view {
    background-image: url(early.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    width: 800px;
    height: calc(800px * 1179 / 1500);
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}

.ui-standard-home-view.zoom-in {
    width: 1300px;
    height: calc(1300px * 1179 / 1500);
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}

div.ui-standard-home-detail-credit-grid {
    display: grid;
    grid-template-columns: 16px 40px auto;
    margin-top: 8px;
    grid-column-gap: 8px;
}

div.ui-standard-home-detail-credit-grid-icon {
    width: 16px;
    height: 16px;
    background-image: url(money.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

div.ui-standard-home-detail-credit-grid-value {
    color: #002395;
    font-weight: bold;
    font-size: 14px;
    align-self: baseline;
}

div.ui-standard-home-detail-credit-grid-value-hint {
    color: white;
    font-size: 10px;
    align-self: baseline;
}

div.ui-standard-home-invite-popup {
    display: none;
    justify-self: center;
    align-self: center;
    width: 300px;
    background-color: white;
    border: 1px solid black;
    padding: 16px;
    border-radius: 8px;
    grid-template-columns: auto;
    grid-row-gap: 8px;
}

div.ui-standard-buy-popup {
    position: absolute;
    bottom: 90px;
    left: 50%;
    width: 295px;
    height: 400px;
    box-sizing: border-box;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    grid-template-columns: 64px 1fr 40px;
    grid-template-rows: 320px 80px;
}

div.ui-standard-buy-popup-category-outer {
    grid-column: auto / span 3;
    display: block;
    overflow-x: auto;
    box-sizing: border-box;
}

div.ui-standard-buy-popup-category-grid {
    display: grid;
    grid-column-gap: 8px;
    grid-auto-columns: auto;
    box-sizing: border-box;
}

div.ui-standard-buy-popup-category-grid-item {
    border-radius: 8px;
    width: 64px;
    height: 64px;
    justify-self: center;
    align-self: center;
    background-color: seashell;
    grid-row: 1;
    color: black;
    text-align: center;
    display: grid;
    box-sizing: border-box;
    cursor: pointer;
    border: 5px solid;
    border-color: transparent;
}

div.ui-standard-buy-popup-category-grid-item>div {
    justify-self: center;
    align-self: center;
    box-sizing: border-box;
    pointer-events: none;
}

.ui-standard-buy-popup-category-grid-item.selected {
    border-color: palevioletred;
}

div.ui-standard-buy-popup-item-list-outer {
    display: none;
    overflow-y: auto;
    box-sizing: border-box;
    padding-bottom: 8px;
    padding-top: 16px;
}

div.ui-standard-buy-popup-item-list-grid {
    display: grid;
    grid-template-columns: auto;
    box-sizing: border-box;
    grid-row-gap: 8px;
}

div.ui-standard-buy-popup-item-list-grid-item {
    border-radius: 8px;
    width: 50px;
    height: 50px;
    justify-self: center;
    align-self: center;
    box-sizing: border-box;
    cursor: pointer;
    background-image: url(giuong.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 2px solid;
    border-color: transparent;
}

.ui-standard-buy-popup-item-list-grid-item.selected {
    background-color: rgba(255, 255, 255, 0.7);
}

div.ui-standard-buy-popup-preview {
    background-image: url(giuong.png);
    background-size: 95%;
    background-repeat: no-repeat;
    background-position: center;
    display: none;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto auto;
}

div.ui-standard-buy-popup-preview-name {
    font-size: 14px;
    justify-self: center;
    color: white;
    padding-top: 16px;
    font-weight: bold;
    grid-column: auto / span 2;
}

div.ui-standard-buy-popup-preview-cost {
    font-size: 16px;
    justify-self: center;
    align-self: end;
    color: greenyellow;
    padding-bottom: 16px;
    font-weight: bold;
    grid-column: auto / span 2;
}

div.ui-standard-buy-popup-preview-share {
    font-size: 12px;
    justify-self: end;
    color: white;
    font-weight: bold;
    text-decoration: underline;
    padding-bottom: 16px;
    padding-right: 8px;
    cursor: pointer;
}

div.ui-standard-buy-popup-preview-close {
    font-size: 12px;
    justify-self: start;
    color: white;
    font-weight: bold;
    text-decoration: underline;
    padding-bottom: 16px;
    padding-left: 8px;
    cursor: pointer;
}

div.ui-standard-buy-popup-color-outer {
    display: block;
    overflow-y: auto;
    box-sizing: border-box;
    padding-bottom: 8px;
    padding-top: 16px;
}

div.ui-standard-buy-popup-color-grid {
    display: none;
    grid-template-columns: auto;
    box-sizing: border-box;
    grid-row-gap: 16px;
}

div.ui-standard-buy-popup-color-grid-item {
    border-radius: 4px;
    width: 20px;
    height: 20px;
    justify-self: center;
    align-self: center;
    box-sizing: border-box;
    cursor: pointer;
    border: 2px solid;
    border-color: transparent;
}

.ui-standard-buy-popup-color-grid-item.selected {
    border-color: white;
}

div.ui-standard-home-place-cancel {
    position: absolute;
    width: 320px;
    text-align: center;
    text-decoration: underline;
    color: white;
    font-size: 18px;
    bottom: 120px;
    cursor: pointer;
}

div.ui-standard-home-option-popup {
    position: absolute;
    top: 285px;
    left: 150px;
    background-color: white;
    display: grid;
    color: black;
    border-radius: 8px;
}

div.ui-standard-home-option-popup-item {
    font-size: 16px;
    border-bottom: 1px solid gray;
    padding: 8px;
    padding-left: 16px;
}

div.popup-gift-box {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-radius: 8px;
    height: 600px;
    display: grid;
    grid-row-gap: 8px;
    grid-template-rows: 1fr auto;
    padding: 16px;
    box-sizing: border-box;
    background-color: white;
}

div.popup-gift-box-top-outer {
    display: block;
    overflow-y: auto;
    box-sizing: border-box;
}

div.popup-gift-box-top-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 16px;
}

div.popup-gift-box-top-grid-item {
    display: grid;
    grid-template-columns: 1fr auto;
    border: 1px solid black;
    border-radius: 8px;
    padding: 8px;
    grid-row-gap: 8px;
    grid-column-gap: 16px;
    font-size: 14px;
}

div.popup-gift-box-top-grid-item-date {
    font-weight: bold;
}

div.popup-gift-box-top-grid-item-title {
    font-weight: bold;
    height: 36px;
}

div.popup-gift-box-top-grid-item-reward {
    grid-row: auto/ span 2;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
}

div.popup-gift-box-top-grid-item-reward-icon {
    justify-self: center;
    align-self: center;
    width: 32px;
    height: 32px;
    background-color: greenyellow;
    border-radius: 4px;
}

div.popup-gift-box-top-grid-item-reward-amount {
    justify-self: center;
    align-self: center;
    font-weight: bold;
    color: greenyellow;
}

.popup-gift-box-top-grid-item-reward-icon.taken {
    background-color: darkolivegreen;
}

.popup-gift-box-top-grid-item-reward-amount.taken {
    color: darkolivegreen;
}

.popup-gift-box-top-grid-item-title.read {
    font-weight: 400;
}

.popup-gift-box-top-grid-item-date.read {
    font-weight: 400;
}

div.popup-gift-box-top-grid-item-text {
    grid-column: auto / span 2;
}

div.ui-standard-button-grid {
    position: absolute;
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 4px;
    width: 48px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 4px;
    border-radius: 8px;
    border: 1px solid #002395;
    width: 55px;
}

div.ui-standard-button-grid-icon {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 32px;
    height: 32px;
    justify-self: center;
    align-self: center;
    pointer-events: none;
}

div.ui-standard-button-grid-text {
    font-size: 12px;
    justify-self: center;
    pointer-events: none;
}

.ui-standard-button-grid.center {
    left: 50%;
    transform: translateX(-50%);
    bottom: 16px;
    width: 76px;
}

.ui-standard-button-grid-icon.center {
    width: 36px;
    height: 36px;
}

.ui-standard-button-grid-text.center {
    font-size: 16px;
}
